@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Azbuka W01 Condensed";
    src: url("~/src/fonts/Azbuka-W01-Condensed/Azbuka-W01-Condensed.ttf") format("truetype");
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
    /* Custom tooltips needed for making sure tooltips are nicely formatted in mobile*/
    .tooltip-answer-row {
        @apply tooltip before:w-max before:whitespace-pre-line before:content-[attr(data-tip)]
    }

    .tooltip-answer-row-name {
        @apply tooltip tooltip-right lg:tooltip-top before:w-max before:whitespace-pre-line before:content-[attr(data-tip)]
    }

    .tooltip-answer-row-cost {
        @apply tooltip tooltip-left lg:tooltip-top before:w-max before:whitespace-pre-line before:content-[attr(data-tip)]
    }

    .tooltip-answer-category {
        @apply tooltip tooltip-bottom before:w-max before:whitespace-pre-line before:content-[attr(data-tip)]
    }

    .answer-row {
        @apply h-20 w-20 m-1.5 items-center justify-center
    }

    /* Fix text spacing on bold due to font */
    .custom-bold {
        @apply font-bold tracking-wider
    }
}

@keyframes flip {
    0% {
        transform: rotateY(-90deg);
        opacity: 0;
        z-index: 0;
    }
    100% {
        transform: rotateY(0);
        z-index: 0;
        opacity: 1;
    }
}

@keyframes win {
    0% {
        transform: rotateY(-90deg);
        opacity: 0
    }
    25% {
        transform: rotateY(0);
        opacity: 1
    }
    65% {
        transform: translate(0);
    }
    70% {
        transform: translateY(-20%);
    }
    75% {
        transform: translateY(5%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        opacity: 1
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

